.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 300px;
  padding: 20px;
}
.form input {
  padding: 10px;

  border: 1px solid gray;
  border-radius: 10px;
  background-color: aliceblue;
}
.form h2 {
  font-size: 30px;
  color: white;
}
.form p {
  color: rgb(251, 255, 30);
  font-size: 14px;
}
.form button {
  padding: 10px 20px;
  border: none;

  background-color: rgb(251, 255, 30);
  border-radius: 6px;
  font-weight: bold;
}
