.table {
  width: 100%;
  font-weight: 700;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}

.delete-button {
  padding: 5px 30px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 4px;
}
.table thead {
  background-color: rgb(251, 255, 30);
}
